<%- include('../partials/head_'+head) %>
<script>
  localStorage.setItem('DataSource', 'SQL');
</script>
<div class="content-wrapper">
<form id="filter_form">
    ActorID: <input type="number" name="ActorID"><br><br>
    First name: <input type="text" name="FirstName"><br><br>
    Last name: <input type="text" name="LastName"><br><br>
    Gender:<br><br>
    <label for="M">Male</label>
    <input type="radio" name="Gender" id="M" value="M"><br>
    <label for="F">Female</label>
    <input type="radio" name="Gender" id="F" value="F"><br><br>
    Number of Oscars: <input type="number" name="Oscar"><br><br>
    <button type="button"  onclick="renderOscarsByActor()">Filter</button>
    <input type="reset" onclick="document.getElementById('grid_container').style.visibility='hidden'">
    <input type="hidden" value="SQL" name="DataSource" required>
</form>

<div class="container" id="grid_container">
    <div class="row" id="headRow">
        <div class="col">
          <b>ActorID</b>
        </div>
        <div class="col">
          <b>Year recived</b>
        </div>
        <div class="col">
          <b>Award</b>
        </div>
    </div>
  <div id="actorGridContainer"></div>
</div>
</div><!-- Closes content wrapper -->
<%- include('../partials/foot.ejs') %>