<%- include('../partials/head_'+head) %>
<script>
  localStorage.setItem('DataSource', 'SQL');
</script>
<div class="content-wrapper">
<form id="filter_form">
    ActorID: <input type="number" name="ActorID"><br><br>
    Year recieved: <input type="number" name="Year_recieved"><br><br>
    Award: <select name="Award">
      <option value=""></option>
    </select><br><br>
    <button type="button"  onclick="renderFilteredOscars()">Filter</button>
    <input type="reset" onclick="document.getElementById('grid_container').style.visibility='hidden'">
    <input type="hidden" value="SQL" name="DataSource" required>
</form>

<div class="container" id="grid_container">
  <div class="row">
    <div class="col">
      <b>ActorID</b>
    </div>
    <div class="col">
      <b>Year recived</b>
    </div>
    <div class="col">
      <b>Award</b>
    </div>
  </div>
  <div id="actorGridContainer"></div>
</div>
</div><!-- Closes content wrapper -->
<%- include('../partials/foot.ejs') %>